<% TicketPresenter.represent(ticket) do |presenter| %>
  <tr>
    <td nowrap>
      <%= link_to(presenter.request_number, presenter) %>
    </td>
    <td><%= presenter.sequence_number %></td>
    <td><%= presenter.due_date %></td>
    <td>
      <%= presenter.excavator.company_name %>
      <br />
      <%= presenter.excavator.address %>
    </td>
  </tr>
<% end %>
